node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.git
.github
.gitignore
.env
.env.*
!.env.sample
*.md
*.log
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
logs
*.log
coverage
.nyc_output
tmp
temp
docs
tests
sh
deploy.sh
sonar-project.properties.sample
*.code-workspace