*.bak
*.iml
*.prefs
*/Thumbs.db
.DS_Store
.classpath
.env
*.local
.ftpsync_settings
.history
.obsidian
.idea
.project
.scannerwork
sonar-project.properties
.sonar
.vscode
Thumbs.db
build
class
classes
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml
target
token.json
yarn.lock
*config.json
coverage
