#inflearn img {
  width: 20rem;
}

/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#wrap {
  max-width: 1200px;
  margin: auto;
}

header,
section,
footer {
  padding: 20px;
}

header,
.main,
footer {
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_heading h1 {
  margin: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

aside {
  flex-grow: 1;
  padding-left: 20px;
}

.content {
  margin-bottom: 20px;
}
#form input,
#form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  header,
  nav,
  aside {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 10px;
  }
}
