<%- include('header', {title: 'OKdevTV 로그인' }) %>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.3/examples/sign-in/signin.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">

  <script src="/js/login-page.js"></script>

  </head>

  <body class="text-center">
    <form class="form-signin" id="form_login">
      <img class="mb-4" src="/images/logo.webp" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">OKdevTV 로그인</h1>
      <button class="btn btn-lg btn-primary btn-block" id="btn_github"><img src="/images/GitHub-Mark.webp" alt="GitHub"
          class="login">
        GitHub Login</button>
      <div id="msg"></div>
      <p class="mt-5 mb-3 text-muted">
        &copy; 2013-2024</p>
    </form>
  </body>

  </html>
