<%- include('header', {title: 'OKdevTV 비밀번호 변경하기' }) %>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/sign-in/signin.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <script>
        $(function () {
            $('#form_reset').on('submit', function (e) {
                $.post('/user/reset_password',
                    { email: $('#email').val() })
                    .done(function (res) {
                        if (res.status === 'ok') {
                            $('#msg')
                                .html('<p>비밀번호 변경 안내 메일이 발송되었습니다.</p><p>감사합니다.</p>');
                        } else {
                            $('#msg')
                                .html('장애가 발생했습니다. ' + JSON.stringify(res));
                        }
                    })
                    .fail(function (e) {
                        $('#msg')
                            .html('장애가 발생했습니다. ' + JSON.stringify(e));
                    });
                e.preventDefault();
            });
        });
    </script>
    </head>

    <body class="text-center">
        <form class="form-signin" id="form_reset">
            <h2>비밀번호 변경</h2>
            <div>
                <input type="email" required id="email" value="<%= email %>" placeholder="email을 입력하세요."
                    class="form-control">
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block">비밀번호 변경하기</button>
            </div>
            <div id="msg"></div>
            <p class="mt-5 mb-3 text-muted">
                <a href="/user/signup">회원가입</a> |
                <a href="/user/login">로그인</a>
            </p>
        </form>

    </body>

    </html>
