/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.button, input, select, textarea {
		position: relative;
		-ms-behavior: url('css/ie/PIE.htc');
	}

	input, select, textarea {
		border: solid 1px #ccc;
	}

	/* Buttons */

		.button {
		}

			.button.down {
				text-indent: 0;
			}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro {
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
		background: url('../../images/intro.webp');
		background-size: cover;
	}

		#intro:before {
			content: '';
			background: url('../images/overlay.webp');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

/*********************************************************************************/
/* One                                                                           */
/*********************************************************************************/

	#one {
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
		background: url('../../images/one.webp');
		background-size: cover;
	}

		#one:before {
			content: '';
			background: url('../images/overlay.webp');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

/*********************************************************************************/
/* Two                                                                           */
/*********************************************************************************/

	#two {
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
		background: url('../../images/two.webp');
		background-size: cover;
	}

		#two:before {
			content: '';
			background: url('../images/overlay.webp');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
